# OS
.DS_Store
Thumbs.db
Desktop.ini

# Logs / temp
*.log
*.tmp

# VS Code
.vscode/

# Node (si tu en as)
node_modules/

# Build / dist
dist/
build/

# LocalWP internals (optionnel mais conseillé)
conf/
logs/
app/sql/

# LocalWP WordPress install
app/public/wp-admin/
app/public/wp-includes/
app/public/wp-content/uploads/
app/public/wp-config.php

# LocalWP internals
conf/
logs/
app/sql/