# OS
.DS_Store
Thumbs.db
Desktop.ini

# Logs / temp
*.log
*.tmp

# VS Code
.vscode/

# Node (si tu en as)
node_modules/

# Build / dist
dist/
build/

# LocalWP internals (optionnel mais conseillé)
conf/
logs/
app/sql/